## Ignore the following file types

# General:
*~
*.bak
*.el
*.jwr
*.pdf

# Specific
testmcgill.aux
testmcgill.bbl
testmcgill.bcf
testmcgill.blg
testmcgill.log
testmcgill.out
testmcgill.run.xml
verbose.bbx
verbose.cbx.omit
verbose-ibid.bbx
verbose-ibid.cbx
verbose-inote.bbx
verbose-inote.cbx
verbose-note.bbx
verbose-note.cbx
verbose-trad1.bbx
verbose-trad1.cbx
verbose-trad2.bbx
verbose-trad2.cbx
verbose-trad3.bbx
verbose-trad3.cbx
mcgill-en.csl
